certifi==2018.1.18
chardet==3.0.4
click==6.7
cssmin==0.2.0
Flask==0.12.2
Flask-Assets==0.12
flask-codemirror==1.0
Flask-SocketIO==2.9.6
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jsmin==2.2.2
MarkupSafe==1.0
python-engineio==2.0.4
python-socketio==1.9.0
requests==2.18.4
six==1.11.0
urllib3==1.22
webassets==0.12.1
Werkzeug==0.14.1
WTForms==2.1
