<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Host platform</title>
    {{ codemirror.include_codemirror() }}
    {% assets "home_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript">
        var myCodeMirror;

        $(document).ready(function () {
            myCodeMirror = CodeMirror.fromTextArea($('#codemirror')[0], {
                lineNumbers: true,
                mode: 'python'
            });
        });

        function postBack() {
            $.post('ajax/runCode', {data: myCodeMirror.getValue()}, function (data) {
                $('#result').html(data);
            });
        }
    </script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        function sendData() {
            console.log('sending data');
            var data = myCodeMirror.getValue();
            socket.emit('sendDataHost', {
                code: data,
                scrollPosition: myCodeMirror.getScrollInfo(),
                result: $('#result').text();
            });
        }


        socket.on('connect', function () {
            setInterval(sendData, 500);
        });

        socket.on('receiveDataWatcher', function (data) {
            console.log(data.yPosition);
        });

    </script>
</head>
<body>
    <textarea id="codemirror"></textarea>
    <input type="button" onclick="postBack()" value="Run Code">
    <br />
    <div id="result"></div>
</body>
</html>