<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {{ codemirror.include_codemirror() }}
    {% assets "home_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
</head>
<body>
    <form method="POST">
        {{ form.source_code }}
        <input type="submit" value="OK">
    </form>
    <br />
    <div style="background: lightgray; width: 50%; height: 20px">
        {% for line in postback %}
            {{ line }}
        {% endfor %}
    </div>
</body>
</html>