<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            socket.join('asdf')
        });

        socket.on('send-data', function (data) {
            $('div#formContainer').html(data.ideHTML);
        })
    </script>
</head>
<body>
    <div id="formContainer"></div>
</body>
</html>