<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{ codemirror.include_codemirror() }}
    {% assets "home_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"></script>
    <script type="text/javascript">
        var myCodeMirror;
        $(document).ready(function () {
            myCodeMirror = CodeMirror.fromTextArea($('#codemirror')[0], {
                lineNumbers: true,
                mode: 'python',
                readOnly: true
            });
        });
    </script>
    <script type="text/javascript">

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            console.log('watcher connected');
            /*setInterval(function () {
                socket.emit('sendDataWatcher', { yPosition: webgazer.getCurrentPrediction().y || -1})
            })*/
        });

        socket.on('receiveDataHost', function (data) {
            console.log(data.yPosition);
            myCodeMirror.setValue(data.code);
            myCodeMirror.scrollIntoView(data.scrollPosition.left, data.scrollPosition.top);
            $('#result').html(data.result);
        });
    </script>
</head>
<body>
    <textarea id="codemirror"></textarea>
    <br />
    <div id="result"></div>
</body>
</html>